<style>
    .validation-new {
        margin-top: 0px;
        color: red;
        font-size:0.9em;
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Data Angsuran</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <span class="col-sm-4"><b>Nama Pengusaha</b></span>
            <div class="col-sm-8">
                <span ng-if="pinjaman.ClusterPengusaha != null">
                    {{pinjaman.ClusterPengusaha.nomor_register_cluster+" "+pinjaman.ClusterPengusaha.nama_cluster}}<br>
                    {{pinjaman.ClusterPengusaha.Wilayah.Propinsi.nama_propinsi+" / "+pinjaman.ClusterPengusaha.Wilayah.nama_wilayah}}
                </span>
                <span ng-if="pinjaman.Pengusaha != null">
                    {{pinjaman.Pengusaha.nomor_register_pengusaha+" "+pinjaman.Pengusaha.nama_pengusaha}}<br>
                    {{pinjaman.Pengusaha.Wilayah.Propinsi.nama_propinsi+" / "+pinjaman.Pengusaha.Wilayah.nama_wilayah}}
                </span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-4"><b>No. Perjanjian</b></span>
            <div class="col-sm-8">
                {{pinjaman.nomor_perjanjian}}
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-4"><b>Jenis Pinjaman</b></span>
            <div class="col-sm-8">
                {{pinjaman.JenisPinjaman.kode+" "+pinjaman.JenisPinjaman.jenis_pinjaman}}
            </div>
        </div>

        <div class="form-group">
            <span class="col-sm-4"><b>Jumlah</b></span>
            <div class="col-sm-8">
                Rp. {{pinjaman.jumlah_pinjaman | momentMoneyFilter}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12 col-xs-11" style="overflow-x: auto">
                <table class="table table-striped table-bordered data-grid">
                    <thead>
                    <tr>
                        <th>No Bk Bsr</th>
                        <th>No Bk Lwn</th>
                        <th>No Bukti</th>
                        <th>Tgl Bukti</th>
                        <th>Ke</th>
                        <th>Jumlah Angsuran</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-hide="pinjaman.TransaksiAngsuran.length > 0">
                        <td colspan="6">No data found in the system.
                        </td>
                    </tr>
                    <tr ng-repeat="angsuran in pinjaman.TransaksiAngsuran">
                        <td>
                            {{angsuran.NomorPerkiraan.nomor_perkiraan}}
                        </td>
                        <td>
                            {{angsuran.nomor_perkiraan_lawan}}
                        </td>
                        <td>
                            {{angsuran.nomor_bukti}}
                        </td>
                        <td>
                            {{angsuran.tanggal_bukti | momentDateFilter: "DD-MM-YYYY"}}
                        </td>
                        <td>
                            {{angsuran.angsuran_ke}}
                        </td>
                        <td>
                            {{angsuran.jumlah_angsuran | momentMoneyFilter}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$dismiss()">
            <i class="fa fa-times"></i>
            Close
        </button>
    </div>
</div>
