<div class="col-md-12" ng-controller="PatientDaysCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            Patient Days
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 pull-left" style="padding-right:0;">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="keyword"/>
                        <span class="input-group-addon btn btn-primary" ng-click="onSearch()">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
                <div class="col-sm-5 pull-left" style="padding-left:5px;">
                    <span class="btn btn-primary" ng-click="onCreateNew()">
                        <i class="fa fa-plus-circle"></i>
                        Add
                    </span>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12">
                    <table class="table table-striped table-bordered data-grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th ng-click="onSort('year')">
                                    Year
                                    <span>
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </th>
                                <th ng-click="onSort('month')">
                                    Month
                                    <span>
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </th>
                                <th ng-click="onSort('days')">
                                    Patient Days
                                    <span>
                                        <i class="fa fa-arrow-up"></i>
                                    </span>
                                </th>
                                <th>Last Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="patientDayses.length > 0">
                                <td colspan="5">
                                    No data found in the system.
                                </td>
                            </tr>
                            <tr ng-repeat="patientDays in patientDayses">
                                <td class="action-button">
                                    <span ng-click="onRowEdit(patientDays)"  class="btn btn-primary btn-sm">
                                        Edit
                                    </span>
                                    <span ng-click="onRowDelete(patientDays)"  class="btn btn-danger btn-sm">
                                        Delete
                                    </span>
                                </td>
                                <td>{{patientDays.year}}</td>
                                <td>{{months[patientDays.month]}}</td>
                                <td>{{patientDays.days}}</td>
                                <td>{{patientDays.last_updated_date | momentDateFilter : "DD/MM/YYYY HH:mm:ss"}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div pagination max-size="10" boundary-links="true" total-items="SearchQuery.total_data"  ng-show="SearchQuery.total_data > 0" page="SearchQuery.page" class="pagination-sm" on-select-page="onPageChanged(page)"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

