*.user
*.orig
Core/bin
Core/obj
EF/bin
EF/obj
*.suo
HITS/bin
HITS/obj
packages
WebApiService/bin
WebApiService/obj
HITS/Web/bower_components
HITS/Web/node_modules
SAPHRIntegrationWinForm/bin
SAPHRIntegrationWinForm/obj
SAPHRIntegrationWinService/bin/Debug
SAPHRIntegrationWinService/obj
PatientViewIntegration/bin
PatientViewIntegration/obj
HITS/Web/.idea
HITS/Web_dist/.idea
HITS/App_Data/errors.s3db
EmailQueueWinService/bin/
EmailQueueWinService/obj/
HITS/App_Data/
HITS/temp/
HITS/Web/dist
HITS/App_Data/errors.s3db
HITS/File/
Backup
CheckIncidentWinService/bin/*
CheckIncidentWinService/obj/*
REINS/bin/Core.dll
REINS/bin/Core.pdb
REINS/bin/EF.dll
REINS/bin/EF.pdb
REINS/bin/REINS.dll
REINS/bin/REINS.pdb
REINS/bin/WebApiService.dll
REINS/bin/WebApiService.pdb
REINS/obj/Debug/build.force
REINS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
REINS/obj/Debug/REINS.csproj.FileListAbsolute.txt
REINS/obj/Debug/REINS.csprojResolveAssemblyReference.cache
REINS/Web/.idea/workspace.xml
REINS/bin/Core.dll
REINS/bin/Core.pdb
REINS/bin/EF.dll
REINS/bin/EF.pdb
REINS/bin/REINS.dll
REINS/bin/REINS.pdb
REINS/bin/WebApiService.dll
REINS/bin/WebApiService.pdb
REINS/obj/Debug/build.force
REINS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
REINS/obj/Debug/REINS.csproj.FileListAbsolute.txt
REINS/obj/Debug/REINS.csprojResolveAssemblyReference.cache
REINS/Web/.idea/workspace.xml
REINS/bin/Core.dll
REINS/bin/Core.pdb
REINS/bin/EF.dll
REINS/bin/EF.pdb
REINS/bin/REINS.dll
REINS/bin/REINS.pdb
REINS/bin/WebApiService.dll
REINS/bin/WebApiService.pdb
REINS/obj/Debug/build.force
REINS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
REINS/obj/Debug/REINS.csproj.FileListAbsolute.txt
REINS/obj/Debug/REINS.csprojResolveAssemblyReference.cache
REINS/Web/.idea/workspace.xml
