<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--    <add key="API_URL" value="http://localhost:5555/EmailQueue/" />-->
    <!--    <add key="API_SETTING_URL" value="http://localhost:5555/ApplicationSetting/" />-->
    <!--    <add key="INTERVAL" value="1" />-->
    <!--    <add key="INCIDENT_BATCH_JOB_TIME" value="230000" />-->
    <!--    <add key="INCIDENT_BATCH_JOB_API_URL" value="http://localhost:5555/IncidentBatchJob/" />-->
    <!--    <add key="LOG_FOLDER" value="E:\EMAILQUEUELOG\" />-->
    <add key="API_URL" value="http://hits-uat/EmailQueue/" />
    <add key="API_SETTING_URL" value="http://hits-uat/ApplicationSetting/" />
    <add key="INTERVAL" value="1" />
    <add key="INCIDENT_BATCH_JOB_TIME" value="230000" />
    <add key="INCIDENT_BATCH_JOB_API_URL" value="http://hits-uat/IncidentBatchJob/" />
    <add key="LOG_FOLDER" value="D:\hits_uat\EMAILQUEUELOG\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>