<style>
    .validation-new {
        margin-top: 0px;
        color: red;
        font-size:0.9em;
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Designation Group</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label for="txtDesignationGroup" class="col-sm-4 control-label">Group Name <span class="validation-new">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="txtDesignation" placeholder="Designation" ng-model="designationGroup.designation_group_name">
                <div class="validation-new" ng-show="validate.designation_group_name">
                    Please enter Group Name
                </div>
            </div>
        </div>
       
    </div>
    <div class="modal-footer">
        <span class="btn btn-danger" ng-click="$dismiss()">
            <i class="fa fa-times"></i>
            Cancel
        </span>
        <span class="btn btn-success" ng-disabled="!validate.button" ng-click="onSave(designationGroup)">
            <i class="fa fa-floppy-o"></i>
            Save
        </span>
    </div>
</div>