<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="API_BASE_URL" value="http://localhost:1772/" />
    <add key="API_METHOD_DOWNLOAD" value="SapHrInterface/Download" />
    <add key="API_METHOD_PROCESS" value="SapHrInterface/Process" />
    <add key="LOG_FOLDER" value="E:\LOG" />
    <add key="EXECUTE_SERVICE_TIME" value="230000" />
    <!--hhmmss-->
    <add key="API_HOST" value="192.168.1.130" />
    <add key="API_USERNAME" value="smvadmin" />
    <add key="API_PASSWORD" value="smvadmin@123" />
    <add key="API_PORT" value="54321" />
    <add key="API_LOCALDIRECTORY" value="E:\fileSFTP\" />
    <add key="API_PRIVATEKEYPATH" value="E:\SMV\test.ppk" />
    <add key="API_PRIVATEKEYPASSPHRASE" value="P@ssw0rd1234" />

    <add key="API_DIRECTORY" value="SAPHR/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>