<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Incident Sub Type</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label for="txtDescription" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8">
                <input type="hidden" ng-model="gcs.GcsDetails.gcs_id" />
                <input type="text" class="form-control" id="txtDescription" placeholder="Description" ng-model="gcs.GcsDetails.gcs_detail_description">
            </div>
        </div>
        <div class="form-group">
            <label for="txtValue" class="col-sm-4 control-label">Value</label>
            <div class="col-sm-8">
                <select ng-model="gcs.GcsDetails.gcs_detail_value"
                        class="form-control">
                    <option value="">-- Select Value --</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
                <!--<input type="text" class="form-control" id="txtDescription" placeholder="Description" ng-model="gcsDetail.gcs_detail_description">-->
            </div>
        </div>       
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="onSave(gcs.GcsDetails)">Save changes</button>
    </div>
</div>