<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Department</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" ng-model="routingUser.is_all_department" /> Assign All Departments
            </div>
        </div>
        <div class="row" ng-show="!routingUser.is_all_department">
            <div class="col-md-6">
                <h4>Available Department</h4>
                <input type="text" placeholder="Search" ng-model="vSearch">
                <div>
                    <label>
                        <input type="checkbox" ng-model="select.selectAllDept" ng-click="select_all_dept()" />
                        Select All
                    </label>
                    <label>
                        <input type="checkbox" ng-model="select.unselectAllDept" ng-click="unselect_all_dept()" />
                        Unselect All
                    </label>
                </div>
                <div ng-repeat="dept in tempRoutingDepartments | filter:vSearch">
                    <label>
                        <input type="checkbox" placeholder="Name" ng-model="dept.is_active">
                        {{dept.Department.department_description}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Selected Department</h4>
                <input type="text" placeholder="Search" ng-model="sSearch">
                <div ng-show="dept.is_active" ng-repeat="dept in tempRoutingDepartments | filter:sSearch">
                    {{dept.Department.department_description}}
                </div>
            </div>
            <br />
        </div>
    </div>
    <div class="modal-footer">
        <span class="btn btn-danger" ng-disabled="!validate.button" ng-click="$dismiss()">
            <i class="fa fa-times"></i>
            Cancel
        </span>
        <span class="btn btn-success" ng-disabled="!validate.button" ng-click="onSave(routingGroup)">
            <i class="fa fa-floppy-o"></i>
            Save
        </span>
    </div>
</div>