<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="PKBL">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Indonesiare: Client Portal</title>
    <!-- Optional theme -->
    <!--<link rel="stylesheet" type="text/css" href="../Content/css/eHOR-Style.css">-->
    <!--<link href="app.less" type="text/css" rel="stylesheet/less">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <!-- Extra metadata -->
    <!-- App Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- App title -->


    <!-- App CSS -->
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="components/css/morris.css">
    <!-- DataTables -->
    <link href="components/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="components/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="components/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Switchery css -->
    <link href="components/css/switchery.min.css" rel="stylesheet" />
    <!-- App CSS -->
    <link href="components/css/style.css" rel="stylesheet" type="text/css" />
    <link href="components/css/login.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet" type="text/css" />


    <script src="components/js/css3-mediaqueries.js"></script>
    <!-- JS from Bower Components -->
    <!--<script src="bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>    
    <script src="bower_components/angular-ivh-treeview/dist/ivh-treeview.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    
    <script src="bower_components/es5-shim/es5-shim.min.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="bower_components/angular-wysiwyg/angular-wysiwyg.js"></script>
    <script src="bower_components/ngSticky/dist/sticky.min.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/es5-shim/es5-sham.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="components/js/timepickerpop.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="bower_components/angular-ui-date/src/date.js"></script>
    <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
    <script type="text/javascript" src="components/js/crypto/jsencrypt.js"></script>
    <!-- Add New Bower Component JS Above -->


    <!-- Main App JS -->
    <script src="appLogin.js"></script>
    <script src="factory/factory.js"></script>
    <script src="factory/internal-factory.js"></script>
    <script src="directive/loadingScreen/loadingScreen.js"></script>
    <script src="directive/toastMessage/toastMessage.js"></script>
    <script src="internal/login.js"></script>

    <!-- Add New Component JS Above -->
    <script type="text/javascript">
        (function () {

        }());
    </script>
</head>
<body>
    <div class="main main-content" ng-controller="LoginCtrl">

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="container">
            <toast-message></toast-message>
            <center>
                <div class="middle">
                    <div id="login">

                        <form>

                            <fieldset class="clearfix">

                                <p >
                                    <span class="fa fa-user"></span>
                                    <input ng-keypress="onKeyPress($event, userInfo)" type="text" ng-model="userInfo.username"  Placeholder="Username" required>
                                </p> <!-- JS because of IE support; better: placeholder="Username" -->
                                <p>
                                    <span class="fa fa-lock"></span>
                                    <input ng-keypress="onKeyPress($event, userInfo)" type="password" ng-model="userInfo.password"  Placeholder="Password" required>
                                </p> <!-- JS because of IE support; better: placeholder="Password" -->

                                <div>
                                    <span style="width:48%; text-align:left;  display: inline-block;">
                                        <a class="small-text" href="#">Forgot password?</a>
                                    </span>
                                    <span style="width:50%; text-align:right;  display: inline-block;">
                                        <input type="button" ng-click="onLogin(userInfo)" value="Sign In">
                                    </span>
                                </div>

                            </fieldset>
                            <div class="clearfix"></div>
                        </form>

                        <div class="clearfix"></div>

                    </div> <!-- end login -->
                    <div class="logo">REINS

                        <div class="clearfix"></div>
                    </div>

                </div>
            </center>

        </div>
    </div>


</body>
</html>
