<br>
<div class="form-group row" style="margin-bottom: 0px;">
    <label for="dateTanggalInput" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Input Date :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px;">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalInput" ng-blur="onChangeDateOfOccurance(statement.StatInpDate)" name="dateTanggalInput"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatInpDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalInput')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <label for="dateTanggalUpdate" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Update Date :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalUpdate" ng-blur="onChangeDateOfOccurance(statement.StatUpdDate)" name="dateTanggalUpdate"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatUpdDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalUpdate')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    
</div>
<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Statement No<span class="red-font">*</span> :</label>
    <div class="col-sm-2 col-xs-6" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" number-only-input type="text" class="form-control mini-label" ng-model="statement.StatNo" />
        <div ng-if="!validation.StatNo && isSaveClicked" class="red-font validation-message">Please enter the Statement No</div>
    </div>
    
    <label for="dateTanggalPrc" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">PRC Date :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px; width:32%">
        <p class="input-group" style="margin-bottom: 5px;  display: inline-flex; width:70%">
            <input style="width:70%" ng-disabled="!isEditState" type="text" id="dateTanggalPrc" ng-blur="onChangeDateOfOccurance(statement.StatPrcDate)" name="dateTanggalPrc"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatPrcDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalPrc')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
        <input disabled style="width: 25%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatPrsts" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Treaty Code<span class="red-font">*</span> :</label>
    <div class="col-sm-10 col-xs-6" style="padding-left: 5px;">
        <div angucomplete-alt id="ex1" style="width: 20%; display: inline-block;"
             placeholder=""
             maxlength="50"
             pause="100"
             selected-object="selectedTreaty"
             disable-input="!isEditState"
             local-data="listTreaty"
             search-fields="TrtCode,TrtName"
             title-field="TrtCode"
             description-field="TrtName"
             minlength="1"
             input-class="form-control form-control-small mini-label"
             model-name="{{statement.StatTrt}}"
             input-changed="treatyChanged"
             match-class="highlight"></div>
        <input disabled style="width: 60%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.Treaty.TrtName" />
        <input disabled style="width: 10%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.Treaty.TrtType" />
        <div ng-if="!validation.StatTrt && isSaveClicked" class="red-font validation-message">Please enter Treaty Code</div>
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Cedant<span class="red-font">*</span> :</label>
    <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
        <div angucomplete-alt id="ex1" style="width: 20%; display: inline-block;"
             placeholder=""
             maxlength="50"
             pause="100"
             selected-object="selectedCompany"
             disable-input="!isEditState"
             local-data="listCompany"
             search-fields="CompCode,CompName"
             title-field="CompCode"
             description-field="CompName"
             minlength="1"
             input-class="form-control form-control-small mini-label"
             model-name="{{statement.StatCedant}}"
             input-changed="companyChanged"
             match-class="highlight"></div>
        <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.Cedant.CompName" />
        <div ng-if="!validation.StatCedant && isSaveClicked" class="red-font validation-message">Please enter Cedant</div>
    </div>
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Signed Share :</label>
    <div class="col-sm-2 col-xs-2" style="padding-left: 5px;">
        <input decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatSndShr" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Broker<span class="red-font">*</span> :</label>
    <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
        <div angucomplete-alt id="ex2" style="width: 20%; display: inline-block;"
             placeholder=""
             maxlength="50"
             pause="100"
             selected-object="selectedBroker"
             disable-input="!isEditState"
             local-data="listBroker"
             search-fields="CompCode,CompName"
             title-field="CompCode"
             description-field="CompName"
             minlength="1"
             input-class="form-control form-control-small mini-label"
             model-name="{{statement.StatBroker}}"
             input-changed="brokerChanged"
             match-class="highlight"></div>
        <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.Broker.CompName" />
        <div ng-if="!validation.StatBroker && isSaveClicked" class="red-font validation-message">Please enter Broker</div>
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Sub Class<span class="red-font">*</span> :</label>
    <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
        <div angucomplete-alt id="ex4" style="width: 20%; display: inline-block;"
             placeholder=""
             maxlength="50"
             pause="100"
             selected-object="selectedSubClass"
             disable-input="!isEditState"
             local-data="listSubClass"
             search-fields="ClassCode,ClassName"
             title-field="ClassCode"
             description-field="ClassName"
             minlength="1"
             input-class="form-control form-control-small mini-label"
             model-name="{{statement.StatSclass}}"
             input-changed="subClassChanged"
             match-class="highlight"></div>
        <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.SubClass.ClassName" />
        <div ng-if="!validation.StatSclass && isSaveClicked" class="red-font validation-message">Please enter Broker</div>
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label for="dateTanggalFrom" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">From :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px;">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalFrom" ng-blur="onChangeDateOfOccurance(statement.StatPrdFrom)" name="dateTanggalFrom"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatPrdFrom" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalFrom')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <label for="dateTanggalTo" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">To :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalTo" ng-blur="onChangeDateOfOccurance(statement.StatPrdTo)" name="dateTanggalTo"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatPrdTo" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalTo')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>

</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label for="dateTanggalComm" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">TRT Comm :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px;">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalComm" ng-blur="onChangeDateOfOccurance(statement.Treaty.TrtCommDate)" name="dateTanggalComm"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MMM-yy" ng-model="statement.Treaty.TrtCommDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalComm')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <label for="dateTanggalExp" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Exp :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalExp" ng-blur="onChangeDateOfOccurance(statement.Treaty.TrtExpDate)" name="dateTanggalExp"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MMM-yy" ng-model="statement.Treaty.TrtExpDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalExp')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>

</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Period :</label>
    <div class="col-sm-3 col-xs-6" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatQtr" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label for="dateTanggalDoc" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Doc. Date :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px;">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalDoc" ng-blur="onChangeDateOfOccurance(statement.StatDate)" name="dateTanggalDoc"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalDoc')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label for="dateTanggalDue" class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Due Date :</label>
    <div class="col-sm-3 col-xs-6 width-21-p" style="padding-left: 5px">
        <p class="input-group" style="margin-bottom: 5px;">
            <input ng-disabled="!isEditState" type="text" id="dateTanggalDue" ng-blur="onChangeDateOfOccurance(statement.StatDueDate)" name="dateTanggalDue"
                   class="form-control mini-label padding-lr-halfrem" datepicker-popup="dd-MM-yyyy" ng-model="statement.StatDueDate" close-text="Close" show-weeks="false" show-button-bar="false" date-fix />

            <span class="input-group-btn">
                <button ng-disabled="!isEditState" type="button" class="btn btn-default" style="border: 1px solid #ccc"
                        ng-click="datePickerOpen('dateTanggalDue')">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </p>
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Dev. Year :</label>
    <div class="col-sm-1 col-xs-4" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAcyr" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Currency :</label>
    <div class="col-sm-2 col-xs-4" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatCurr" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Rate :</label>
    <div class="col-sm-2 col-xs-4" style="padding-left: 5px;">
        <input decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRate" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Percentage :</label>
    <div class="col-sm-2 col-xs-4" style="padding-left: 5px;">
        <input decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatPrc" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">OS Losses :</label>
    <div class="col-sm-3 col-xs-6" style="padding-left: 5px;">
        <input decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatOsloss" />
    </div>
</div>

<div class="form-group row" style="margin-bottom: 0px;">
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Desc. :</label>
    <div class="col-sm-7 col-xs-6" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatDesc" />
    </div>
    <label class="col-sm-2 col-xs-6 mini-label" style="width: 12%; text-align: right">Jenis Premi :</label>
    <div class="col-sm-2 col-xs-6" style="padding-left: 5px;">
        <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatJpc" />
    </div>
</div>

<br>


