<br>
<div class="form-group row" style="margin-bottom: 0px;">
    <div class="col-sm-6 col-xs-6 mini-label">
        <div class="row">
            <div class="col-sm-12">
                <b>Line Code</b>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine1"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn01}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine1.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine1.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine2"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn02}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine2.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine2.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine3"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn03}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine3.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine3.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine4"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn04}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine4.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine4.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine5"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn05}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine5.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine5.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine6"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn06}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine6.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine6.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine7"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn07}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine7.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine7.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine8"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn08}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine8.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine8.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine9"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn09}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine9.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine9.LineOsflag" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine10"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn10}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine10.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine10.LineOsflag" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelLn01" />
            </div>    
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelLn02" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelLn03" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelLn04" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine11"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn11}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine11.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine11.LineOsflag" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left: 5px;">
                <div angucomplete-alt id="ex4" style="width: 12%; display: inline-block;"
                     placeholder=""
                     maxlength="50"
                     pause="100"
                     selected-object="selectedStatLine12"
                     disable-input="!isEditState"
                     local-data="listStatLine"
                     search-fields="LineCode,LineDesc"
                     title-field="LineCode"
                     description-field="LineDesc"
                     minlength="1"
                     input-class="form-control form-control-small mini-label"
                     model-name="{{statement.StatLn12}}"
                     input-changed="statLineChanged"
                     match-class="highlight"></div>
                <input disabled style="width: 70%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine12.LineDesc" />
                <input disabled style="width: 12%; display: inline-block;" type="text" class="form-control mini-label" ng-model="statement.StatLine12.LineOsflag" />
            </div>
        </div>

    </div>
    

    <div class="col-sm-6 col-xs-6 mini-label">
        <div class="row">
            <div class="col-sm-12">
                <b>Amount</b>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt01" />
            </div>
            <label class="col-sm-3 col-xs-3 mini-label" style="text-align: right">Stat No.</label>
            <div class="col-sm-3 col-xs-3" style="padding-left: 5px;">
                <input disabled type="text" class="form-control mini-label" ng-model="statement.StatNo" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt02" />
            </div>
            <label class="col-sm-3 col-xs-3 mini-label" style="text-align: right">Currency</label>
            <div class="col-sm-3 col-xs-3" style="padding-left: 5px;">
                <input disabled type="text" class="form-control mini-label" ng-model="statement.StatCurr" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt03" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt04" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt05" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt06" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt07" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt08" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt09" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt10" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelAmt01" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelAmt02" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelAmt03" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatRelAmt04" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-input ng-change="onAmountChanged()" decimal-only-input ng-disabled="!isEditState" type="text" class="form-control mini-label" ng-model="statement.StatAmt11" />
            </div>

            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input disabled type="text" class="form-control mini-label" ng-model="statement.TxtNone" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <div class="mini-label">
                    {{statement.StatAmt12 | momentMoneyFilter}}
                </div>
                <input money-format-input decimal-only-input disabled type="text" class="form-control mini-label" ng-model="statement.StatAmt12" />
            </div>

            <div class="col-sm-6 col-xs-6" style="padding-left: 5px;">
                <input money-format-changed disabled type="text" class="form-control mini-label" ng-model="statement.StatAmt12Temp" />
            </div>
        </div>
    </div>
</div>

<br>






