<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Manage Designation</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>
                    <input type="checkbox" ng-model="workflow.is_all_designation" />
                    Check for all designations
                </label>
            </div>
        </div>
        <div class="row" ng-show="!workflow.is_all_designation">
            <div class="col-md-6">
                <h4>Available Employee Designation</h4>
                <input type="text" placeholder="Search" ng-model="vSearch">
                <div>
                    <label>
                        <input type="checkbox" ng-model="select.selectAll" ng-click="onSelectAll()" />
                        Select All
                    </label>
                    <label>
                        <input type="checkbox" ng-model="select.unselectAll" ng-click="onUnselectAll()" />
                        Unselect All
                    </label>
                </div>
                <div ng-repeat="employeeDesignation in workflow.EmployeeDesignations  | filter:vSearch">
                    <label>
                        <input type="checkbox" placeholder="Name" ng-model="employeeDesignation.is_active">
                        {{employeeDesignation.Designation.designation_description}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Selected Employee Designation</h4>
                <input type="text" placeholder="Search" ng-model="sSearch">
                <div ng-show="employeeDesignation.is_active" ng-repeat="employeeDesignation in workflow.EmployeeDesignations | filter:sSearch">
                    {{employeeDesignation.Designation.designation_description}}
                </div>
            </div>
            <div class="row gap"></div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="btn btn-danger" ng-click="$dismiss()">
            <i class="fa fa-times"></i>
            Cancel
        </span>
        <span class="btn btn-success" ng-click="onSave(workflow)">
            <i class="fa fa-floppy-o"></i>
            Save
        </span>
    </div>
</div>