<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Location</h4>
    </div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label for="txtLocationName" class="col-sm-4 control-label">Location Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="txtLocationName" placeholder="Location Name" ng-model="location.location_name">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span class="btn btn-danger" ng-click="$dismiss()">
            <i class="fa fa-times"></i>
            Cancel
        </span>
        <span class="btn btn-success" ng-click="onSave(location)">
            <i class="fa fa-floppy-o"></i>
            Save
        </span>
    </div>
</div>
