<div class="col-md-12 no-side-padding" ng-controller="ApplicationSettingCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            Setup > Application Setting
        </div>
        <div class="panel-body">
            
            <div tabset>
                <div tab heading="Application Setting" ng-click="FetchHITSSetting()">
                    <div>
                        <br/>
                        <div ng-repeat="appSettingGroup in AppSettingGroups" class="nav-tabs">
                            <div class="form-group">
                                <label>
                                    {{appSettingGroup}}
                                </label>
                            </div>

                            <div class="form-horizontal"
                                 ng-repeat="setting in appSettingHITS | filter:{group_name:appSettingGroup}">
                                <div class="form-group" style="margin-bottom:5px" ng-if="setting.key_value == 'MAINTENANCE_MODE'">
                                    <span for="txt{{setting.key_value}}" class="col-md-3 control-label"
                                          style="text-align:left;">
                                        {{setting.label_name}}
                                    </span>
                                    <div class="col-md-3">
                                        <label><input type="radio" name="rbMaintenance" value="true" ng-model="setting.setting_value_default" />Active</label>
                                        &nbsp;&nbsp;&nbsp;
                                        <label><input type="radio" name="rbMaintenance" value="false" ng-model="setting.setting_value_default" />In-Active</label>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="form-group" style="margin-bottom:5px" ng-if="setting.key_value != 'MAINTENANCE_MODE' && (setting.key_value != 'REMINDER_DAY')">
                                    <span for="txt{{setting.key_value}}" class="col-md-3 control-label"
                                          style="text-align:left;">
                                        {{setting.label_name}}
                                        {{(setting.unit_name)?("("+setting.unit_name+")"):""}}
                                    </span>

                                    <div class="{{(setting.key_value.toLowerCase().indexOf('email_address') > -1 || setting.key_value.toLowerCase().indexOf('server_whitelist') > -1 || setting.key_value.toLowerCase().indexOf('administrator_email') > -1)?'col-md-3':'col-md-1'}}">
                                        <input ng-if="setting.key_value.toLowerCase().indexOf('password') > -1" type="password"
                                               class="form-control" id="Text1" placeholder="{{setting.key_value}}"
                                               ng-model="setting.setting_value_default" value="{{setting.setting_value_default}}">
                                        <input ng-if="setting.key_value.toLowerCase().indexOf('email_address') > -1" type="text"
                                               class="form-control" id="email1" placeholder="{{setting.key_value}}"
                                               ng-model="setting.setting_value_default" value="{{setting.setting_value_default}}">
                                        <input max="999" type="text" number-only-input
                                               ng-if="setting.key_value.toLowerCase().indexOf('password') <= -1 && setting.key_value.toLowerCase().indexOf('email_address') <= -1"
                                               class="form-control" id="txt{{setting.key_value}}"
                                               placeholder="{{setting.key_value}}"
                                               ng-model="setting.setting_value_default" value="{{setting.setting_value_default}}"
                                               maxlength="3">

                                    </div>
                                    <div class="col-md-5"></div>
                                </div>

                                <div class="form-group" style="margin-bottom:5px" ng-if="setting.key_value == 'REMINDER_DAY'">
                                    <span for="txt{{setting.key_value}}" class="col-md-3 control-label"
                                          style="text-align:left;">
                                        {{setting.label_name}}
                                    </span>
                                    <div class="col-md-2">
                                        <select ng-model="setting.setting_value_default" class="form-control" ng-options="d.value as d.day for d in days"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="border-top: solid #dddddd 1px;padding-top:5px;">
                            <div class="mandatory" ng-show="invalid.ReminderAutoPurgeDraft">Due Date to Complete Incident (Days)
                                should be smaller than Days to Reminder before Auto Purge (Days)
                            </div>
                            <div class="mandatory" ng-show="invalid.ReminderAutoPurgeDraftSeverity">Due Date to Complete Severity
                                Incident (Days) should be smaller than Days to Reminder before Auto Purge (Days)
                            </div>
                            <div class="mandatory" ng-show="invalid.ReminderSessionStart">Reminder after Session Starts (Minutes)
                                must be at least 2 minutes
                            </div>
                            <div class="mandatory" ng-show="invalid.TimeoutReminder">Timeout after Reminder (Minutes) must be at
                                least 2 minutes
                            </div>
                            <span class="btn btn-success" ng-click="onSave()">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </span>
                        </div>
                    </div>
                </div>

                <div tab heading="Email Template Setting"  ng-click="onFetchHITSEmailTemplateSetting()">
                    <div>
                        <br />
                        <div class="form-horizontal nav-tabs" >
                            <div class="form-group" style="margin-bottom:5px">
                                <!--<div class="col-md-1">-->
                                    <!--<b>Code</b>-->
                                <!--</div>-->
                                <div for="txt{{setting.key_value}}" class="col-md-5 control-label"
                                    style="text-align:left;">
                                    <b>Email Template</b>
                                </div>
                                <div class="col-md-2">
                                    <b>Email Setting</b>
                                </div>
                                <div class="col-md-2">
                                    <b>Template Code</b>
                                </div>
                                <div class="col-md-2">
                                    <b>Status</b>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal nav-tabs"
                                 ng-repeat="emailTempSetting in emailTemplateSettings">
                            <div class="form-group" style="margin-bottom:5px">
                                <!--<div class="col-md-1">-->
                                    <!--T-{{emailTempSetting.email_action_code}}-->
                                <!--</div>-->
                                <div for="txt{{setting.key_value}}" class="col-md-5 control-label"
                                    style="text-align:left;">
                                    {{emailTempSetting.email_action_description}}
                                </div>
                                <div class="col-md-2">
                                    {{emailTempSetting.email_setting}}
                                </div>
                                <div class="col-md-2">
                                    {{emailTempSetting.template_code}}
                                </div>
                                <div class="col-md-2">
                                    <label><input type="radio" name="rbMaintenance_{{$index}}" ng-value="true" ng-model="emailTempSetting.is_on" />Active</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <label><input type="radio" name="rbMaintenance_{{$index}}" ng-value="false" ng-model="emailTempSetting.is_on" />In-Active</label>
                                </div>
                            </div>
                        </div>
                        <div style="border-top: solid #dddddd 1px;padding-top:5px;">
                            <span class="btn btn-success" ng-click="onSaveEmailTemplateSetting()">
                                <i class="fa fa-floppy-o"></i>
                                Save
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
